<tr id="image-{{ image.id }}" class="image-row" image-id="{{ image.id }}">
    <td>
        <div class="form-check">
            <input type="checkbox" class="form-check-input image-checkbox" image-id='{{ image.id }}'>
        </div>
    </td>
    <td>
        <input type="hidden" value="{{ image.url }}" id="image-preview-{{ image.id }}">
        <div class="image-name" image-id='{{ image.id }}' id="image-name-{{ image.id }}">
            {{ image.title }}
        </div>
        <form action="{% url 'images:update' image.id %}" method="POST" class="image-form" image-id='{{ image.id }}'>
            {% csrf_token %}
            <input type="hidden" class="form-control" value="{{ image.title }}" name='name' id="image-input-name-{{ image.id }}">
        </form>
    </td>
    <td>{{ image.created_at | date }}</td>
    <td>{{ image.lenght }}</td>
    <td>
        <div class="btn-group">
            <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" >
              ...
            </button>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="{{ image.url }}" target="_blank">Vista previa</a>
              <a class="dropdown-item image-download" href="{% url 'images:download' image.pk %}">Descargar</a>
              <a class="dropdown-item image-edit" href="#" image-id="{{ image.id }}" >Cambiar nombre</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{% url 'images:show' image.id %}" image-id='{{ image.id }}' data-toggle="modal" data-target="#deleteModal">Eliminar</a>
            </div>
        </div>

    </td>
</tr>