{% extends 'base/base.html' %}

{% block style %}
<style>
    .image-key {
        cursor: pointer;
    }
</style>
{% endblock %}

{% block content %}

{% include 'images/snippets/modals/form.html' %}
{% include 'images/snippets/modals/delete.html' %}

<div class="row">
    <div class="col">
        <h2>{{ object.title }}</h2>
    </div>
</div>

<div class="row">
    <div class="col">
        <form action="">
            <div class="form-group">
                <input type="text" class="form-control" name='q' placeholder="Escriba un prefijo">
            </div>
        </form>
    </div>
</div>


<div class="row">
    <div class="col mt-2">

        <div class="options">
            <button class="btn btn-primary" data-toggle="modal" data-target="#createModal">Nueva imagen</button>

            <a type="button" href="{% url 'images:download_many' %}" class="btn btn-info disabled" id="download">Descargar</a>
            <a type="button" href="{% url 'images:delete_many' %}" class="btn btn-danger disabled" id="delete">Eliminar</a>
        </div>

    </div>
</div>

<div class="row">
    <div class="col-8 mt-4">
        
        <table class="table">
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th>Nombre</th>
                    <th>Última modificación</th>
                    <th>Tamaño </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for image in images %}
                    <tr>
                        <th>
                            <input type="checkbox" class="form-check-input" id="chek-{{ image.id }}" image-id='{{ image.id }}'>
                        </th>
                        <td>
                            <input type="hidden" value="{{ image.url }}" id="preview-{{ image.id }}">
                            <div class="image-key" id='image-name-{{ image.id }}' image-id='{{ image.id }}' >
                                {{ image.title }}
                            </div>
                            <form action="{% url 'images:update' image.id %}" method="POST" class="image-form" image-id='{{ image.id }}'>{% csrf_token %}<input type="hidden" value="{{ image.title }}" name='name' id="input-name-{{ image.id }}"></form>
                        </td>
                        <td>{{ image.created_at | date }}</td>
                        <td>{{ image.size }}</td>
                        <td>
                            <div class="btn-group">
                                <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" >
                                  ...
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="{{ image.url }}" target="_blank">Vista previa</a>
                                  <a class="dropdown-item download" href="{% url 'images:download' image.pk %}">Descargar</a>
                                  <a class="dropdown-item change-name" href="#" image-id="{{ image.id }}" >Cambiar nombre</a>
                                  <div class="dropdown-divider"></div>
                                  <a class="dropdown-item" href="{% url 'images:show' image.id %}" image-id='{{ image.id }}' data-toggle="modal" data-target="#deleteModal">Eliminar</a>
                                </div>
                            </div>

                        </td>
                    </tr>
                {% endfor%}
            </tbody>
        </table>

    </div>
    <div class="col">
        <img width="300" height="300" id="preview" src="{{ image.url }}" class="img-responsive" style="padding-top: 5px">
    </div>
</div>

{% endblock %}

{% block javascript %}
<script>

$( document ).ready(function() {
    
    const preview = document.getElementById('preview');
    const deleteLink = document.getElementById('delete');
    const downloadLink = document.getElementById('download');

    deleteLink.addEventListener("click", function(event){
        event.preventDefault()

        var ids = []
        var images = document.querySelectorAll('input[type="checkbox"]:checked')
        
        for (var i = 0; i < images.length; i+=1) {
            ids.push(images[i].getAttribute('image-id'))
        }

        fetch(this.href, {
            method: 'POST',
            body: JSON.stringify({
                'ids': ids
            })
        })
        .then(response => response.json())
        .then(function(data){
            
            for (var i = 0; i < data.images_deleted.length; i+=1) {
                var id = data.images_deleted[i]
                var image = document.getElementById(id).remove();
            } 
            
        });

    });

    downloadLink.addEventListener('click', function(event){
        event.preventDefault()
        
        var ids = []
        var images = document.querySelectorAll('input[type="checkbox"]:checked')
        
        for (var i = 0; i < images.length; i+=1) {
            ids.push(images[i].getAttribute('image-id'))
        }

        fetch(this.href, {
            method: 'POST',
            body: JSON.stringify({
                'ids': ids
            })
        })
        .then(response => response.blob())
        .then(blob => {
            
            console.log(blob)

            const url = window.URL.createObjectURL(blob);
            const a = document.createElement('a');
            a.style.display = 'none';
            a.href = url;
    
            a.download =  blob.name;
            document.body.appendChild(a);
            a.click();

            window.URL.revokeObjectURL(url);

        });

    });
   
    $('#deleteModal').on('show.bs.modal', function (event) {
        
        var button = $(event.relatedTarget)
        var image = button[0];
        var modal = $(this)
        imageId = image.getAttribute('image-id');

        fetch(image.href)
        .then(response => response.json())
        .then(function(data){
            
            modal.find('#image-to-delete').text(data.name);
            modal.find('.delete-image-button')[0].href = data.delete_url

        });
    
    })

    $('.change-name').click(function(event) {
        imageId = this.getAttribute('image-Id');
        
        div = document.getElementById('image-name-' + imageId)
        div.style.display = "none";

        input = document.getElementById('input-name-' + imageId)
        input.setAttribute("type", "text");
        
    });

    $('.image-key').click(function(event) {
        
        imageId = this.getAttribute('image-Id');

        imagePreview = document.getElementById('preview-' + imageId);
        preview.src = imagePreview.value;
    });

    $('.form-check-input').click(function(event){

        var count = document.querySelectorAll('input[type="checkbox"]:checked').length;
        if (count >= 1){
            
            downloadLink.classList.remove("disabled");
            deleteLink.classList.remove("disabled");

        } else {

            downloadLink.classList.add('disabled');
            deleteLink.classList.add('disabled');
        }

    });

    $('.download').click(function(event) {
        event.preventDefault();

        fetch(this.href, {
            method: 'GET',
        })
        .then(response => response.blob())
        .then(blob => {

            const url = window.URL.createObjectURL(blob);
            const a = document.createElement('a');
            a.style.display = 'none';
            a.href = url;
    
            a.download = 'image'; // blob.type;
            document.body.appendChild(a);
            a.click();

            window.URL.revokeObjectURL(url);

        });
    });

    $('.image-form').submit(function(event){
        event.preventDefault()

        fetch(this.action, {
            body: new FormData(this),
            method: "POST"
        })
        .then(response => response.json())
        .then(data => {
            
            console.log(data)

            imageId = this.getAttribute('image-id');
            
            input = document.getElementById('input-name-' + imageId);
            div = document.getElementById('image-name-' + imageId)
            
            input.setAttribute('type', 'hidden')
            input.value = data.name;

            div.innerHTML = data.name;
            div.style.display = 'block';

            input = document.getElementById('preview-' + imageId)
            input.value = data.url
            
        });

    });
});

</script>
{% endblock %}