{% extends 'base/base.html' %}

{% block content %}

{% include 'albums/snippets/modal/form.html' %}

<div class="row">
    <div class="col-10">
        <h2>Mis Galerias</h2>
    </div>

    <div class="col-2">
        <button class="btn btn-primary" data-toggle="modal" data-target="#albumModalForm">Nuevo album</button>
    </div>
</div>

{% if object_list %}
    <div class="row">
        <div class="col">

            <table class="table">
                <thead class="thead">
                    <tr>
                    <th scope="col">Key</th>
                    <th scope="col">Bucket</th>
                    <th scope="col">Fecha de creación</th>
                    <th scope="col">Items</th>
                    <th scope="col">Size</th>
                    </tr>
                </thead>
                <tbody>
                    {% for album in object_list %}
                        <tr>
                            <td>
                                <i class="far fa-folder"></i>
                                <a href="{% url 'albums:detail' album.pk %}">{{ album.title }}</a>
                            </td>
                            <td> {{ album.bucket }} </td>
                            <td> {{ album.created_at | date:'d M Y' }}</td>
                            <td> {{ album.images.count }}</td>
                            <td>
                                0 Kb
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% else %}
    <div>
        Aún no posee un album.
    </div>
{% endif %}
    
{% endblock %}