{% extends 'base/base.html' %}

{% block content %}
<div class="col mt-4">
    
    {% include 'images/snippets/modals/form.html' %}

    <form method="POST" enctype="multipart/form-data">
            {% csrf_token %} 

            {% for input in form %}
                <div class="form-group">
                    {{ input.label_tag }}
                    {{ input }}
                </div>
            {% endfor %}

        <div class="mt-2">
            <button type="submit" class="btn btn-primary mb-2">Cargar</button>
        </div>
        
    </form>
</div>
{% endblock%}

{% block javascript %}
<script>
    const albumForm = document.getElementById('album-form');
    const saveAlbum = document.getElementById('save-album');

    saveAlbum.addEventListener('click', function(event){
        
        fetch(albumForm.action, {
            method: 'POST',
            body: new FormData(albumForm)
        
        }).then(response => response.json())
        .then(function(data) {
            
            if (data.success == true ){

            }

        })

    });
</script>
{% endblock %}